@define-color background      rgba(40,40,40,0.9);
@define-color text            #EBDBB2;
@define-color text-alt        #A89984;
@define-color background-alt  #3C3836;
@define-color border          #665C54;
