@define-color fg #EBDBB2;
@define-color fg-muted #A89984;
@define-color bg #282828;
@define-color bg-darker #1D2021;
@define-color bg-hover #3C3836;
@define-color border #665C54;

@define-color accent #83A598;
@define-color accent-bg rgba(131,165,152,0.15);
@define-color accent-shadow rgba(131,165,152,0.3);

@define-color error #FB4934;
@define-color warn #FABD2F;
@define-color success #B8BB26;

@define-color shadow rgba(0,0,0,0.3);
