@define-color background      rgba(48,52,70,0.9);
@define-color text            #C6D0F5;
@define-color text-alt        #A5ADCE;
@define-color background-alt  #232634;
@define-color border          #414559;
