@define-color fg #C6D0F5;
@define-color fg-muted #A5ADCE;
@define-color bg #303446;
@define-color bg-darker #232634;
@define-color bg-hover #414559;
@define-color border #414559;

@define-color accent #8CAAEE;
@define-color accent-bg rgba(140,170,238,0.15);
@define-color accent-shadow rgba(140,170,238,0.3);

@define-color error #E78284;
@define-color warn #E5C890;
@define-color success #A6D189;

@define-color shadow rgba(0,0,0,0.3);

