window {
    background-color: rgba(59, 66, 82, 0.3);
}

button:hover {
    background-image: none;
    box-shadow: none;
    border-color: transparent;
}

.highlighted-button {
    background-image: none;
    box-shadow: none;
    background-color: rgba(76, 86, 106,0.5);
}

.highlighted-button>image, .highlighted-button:hover>image {
    -gtk-icon-effect: highlight;
}
