@define-color background      rgba(40,44,52,0.9);
@define-color text            #ABB2BF;
@define-color text-alt        #DCDFE4;
@define-color background-alt  #1E2127;
@define-color border          #3E4451;

