@define-color fg #ABB2BF;
@define-color fg-muted #DCDFE4;
@define-color bg #282C34;
@define-color bg-darker #1E2127;
@define-color bg-hover #3E4451;
@define-color border #3E4451;

@define-color accent #61AFEF;
@define-color accent-bg rgba(97, 175, 239, 0.15);
@define-color accent-shadow rgba(97, 175, 239, 0.3);

@define-color error #E06C75;
@define-color warn #E5C07B;
@define-color success #98C379;

@define-color shadow rgba(0, 0, 0, 0.3);

