@define-color background      rgba(26,27,38,0.9);
@define-color text            #C0CAF5;
@define-color text-alt        #A9B1D6;
@define-color background-alt  #15161E;
@define-color border          #292E42;
