@define-color fg #C0CAF5;
@define-color fg-muted #A9B1D6;
@define-color bg #1A1B26;
@define-color bg-darker #15161E;
@define-color bg-hover #24283B;
@define-color border #292E42;

@define-color accent #7AA2F7;
@define-color accent-bg rgba(122,162,247,0.15);
@define-color accent-shadow rgba(122,162,247,0.3);

@define-color error #F7768E;
@define-color warn #E0AF68;
@define-color success #9ECE6A;

@define-color shadow rgba(0,0,0,0.3);
